<% content_for :header do -%>
<%= javascript_include_merged :signup %>
<%= stylesheet_link_merged :signup %>
<% end -%>

<div class="p_form">
    <% form_tag session_path, :class => "uniForm" do -%>
    <fieldset class="inlineLabels">
        <h3>登录</h3>
        <div class="row ctrlHolder">
            <%= label_tag 'login','用户名／电子邮件' %>
            <%= text_field_tag 'login', @login %>
        </div>

        <div class="row ctrlHolder">
            <%= label_tag 'password','密码' %>
            <%= password_field_tag 'password', nil %>
        </div>

        <!-- Uncomment this if you want this functionality
        <p><%= label_tag 'remember_me', 'Remember me' %>
        <%= check_box_tag 'remember_me', '1', @remember_me %></p>
        -->

        <div class="buttonHolder">
            <a href="/forgot_password" class="fLeft">忘记密码？</a>
            <%= submit_tag '我要登录' %>
        </div>
    </fieldset>
    <% end -%>
</div>