<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="memberlist blueth">
                <tbody>
                    <tr>
                        <th>分类名</th>
                        <th>上级分类</th>
                        <th>备注</th>
                        <th width=80></th>
                    </tr>
                </tbody>
                <tbody>
                    <%@categories.each do |category|%>
                    <tr>
                        <td><%=category.name%></td>
                        <td><%=category.parent.nil? ? "无" : category.parent.name%></td>
                        <td><%=category.memo%></td>
                        <td>
                        <%= link_to "修改", edit_category_url(category)%>
                        <%= link_to "删除", category_url(category), :method => :delete, :confirm => "确认要删除这个分类吗?"%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="clear"></div>

<%=will_paginate @categories%>