<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">

            <a href="/articles/new?cid=<%=params[:cid]%>" style="color:#FE6C00;text-decoration:none;">发布文章</a>

            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="memberlist blueth">
                <tbody>
                    <tr>
                        <th width=80>发布状态</th>
                        <th>文章标题</th>
                        <th>文章分类</th>
                        <th>发布时间</th>
                        <th width=80></th>
                    </tr>
                </tbody>
                <tbody>
                    <%@articles.each do |article|%>
                    <tr>
                        <td><%=article.show_status%></td>
                        <td><%=article.title%><br />链接：<%= "/articles/#{article.id}" %></td>
                        <td><%=article.category.nil? ? "" : article.category.name%></td>
                        <td><%=article.issue_time.nil? ? "" : article.issue_time.to_date%></td>
                        <td>
                        <%= link_to "修改", edit_article_url(article)%>
                        <%= link_to "删除", article_url(article), :method => :delete, :confirm => "确认要删除这篇文章吗?"%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="clear"></div>

<%=will_paginate @articles%>