<% content_for :header do -%>
<%= javascript_include_merged :signup %>
<%= stylesheet_link_merged :signup %>
<% end -%>

<div class="p_form">
    <% form_tag "/forgot", :method => :put, :class => "uniForm" do -%>
    <fieldset class="inlineLabels">
        <h3>重置密码</h3>
        <div class="row ctrlHolder">
            <%= label_tag 'login_or_email','您的用户名或者电子邮件' %>
            <%= text_field_tag 'login_or_email','',:size=>30 %>
        </div>

        <div class="buttonHolder">
            <%= submit_tag '确认重置' %>
        </div>
    </fieldset>
    <% end -%>
</div>