<% content_for :header do -%>
<%= javascript_include_merged :signup %>
<%= stylesheet_link_merged :signup %>
<% end -%>

<div class="p_form">
    <% form_tag "/reset",:method=>:put, :class => "uniForm" do -%>
    <%= hidden_field_tag 'password_reset_code',params[:password_reset_code]%>
    <fieldset class="inlineLabels">
        <h3>重置密码</h3>
        <div class="row ctrlHolder">
            <%= label_tag 'password','新密码' %>
            <%= password_field_tag 'password' %>
        </div>

        <div class="row ctrlHolder">
            <%= label_tag 'password','确认密码' %>
            <%= password_field_tag 'password_confirmation', nil %>
        </div>

        <div class="buttonHolder">
            <%= submit_tag '确认重置' %>
        </div>
    </fieldset>
    <% end -%>
</div>