<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">
            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="memberlist blueth">
                <tbody>
                    <tr>
                        <th>内容分类名</th>
                        <th>上级分类</th>
                        <th>图片规格</th>
                        <th>备注</th>
                        <th width=80></th>
                    </tr>
                </tbody>
                <tbody>
                    <%@panel_categories.each do |panel_category|%>
                    <tr>
                        <td><%=panel_category.name%></td>
                        <td><%=panel_category.parent.nil? ? "无" : panel_category.parent.name%></td>
                        <td>
                            <%if panel_category.rq_image%>
                                <%=panel_category.width%>x<%=panel_category.height%>
                            <%else%>
                                无图片
                            <%end%>
                        </td>
                        <td><%=panel_category.memo%></td>
                        <td>
                        <%= link_to "修改", edit_panel_category_url(panel_category)%>
                        <%= link_to "删除", panel_category_url(panel_category), :method => :delete, :confirm => "确认要删除这个分类吗?"%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="clear"></div>

<%=will_paginate @panel_categories%>