<div class="header">
	<div class="logo"><a href="/html/cn/index.html"><img src="/images/logo.jpg" /></a></div>
	<!--导航-->
	<div class="menu">
		<%#= render :partial => "shared/navigation" %>
		<%Page.no_parent.all.each do |page|%>
			<ul>
				<li>
					<a class='hide' href='<%=page.path%>'><b class='dazi'><%=page.name_en%></b></a>
					<!--[if lte IE 6]>
					<a href="<%=page.path%>"><b class="dazi"><%=page.name_en%></b>
					<table><tr><td>
					<![endif]-->
					<%=raw find_all_subpages(page)%>
					<!--[if lte IE 6]>
					</td></tr></table>
					</a>
					<![endif]-->
				</li>
			</ul>
		<%end%>
	</div>
	<!--导航结束-->
</div>
