<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">
            <% form_for @album, :url => assets_create_album_path, :html=>{:multipart => true} do |f| -%>
            <%=f.error_messages%>
			<input type="hidden" name="asset_count" id="asset_count" value="1">
            <div class="FormWrap model_form">
                <h3>上传图片</h3>
                <p>
                    <%=f.label :title,"相册<em>*</em>"%>
                    <%=f.text_field :title,:size=>40,:disabled=>:disabled%>
                </p>
				
				<p class="section"></p>

				<p>
                    <%=label_tag :photo_1,"上传图片"%>
					<%=file_field :photo_1,"photo"%>
                </p>

				<p>
                    <%=label_tag :photo_1_name,"图片名称"%>
					<%=text_field_tag :photo_1_name,'',:size=>40%>
                </p>

				<p>
                    <%=label_tag :photo_1_weight,"图片权重"%>
					<%=text_field_tag :photo_1_weight,0,:size=>40%>
                </p>

				<p>
                    <%=label_tag :photo_1_memo,"图片简介"%>
					<%=text_area_tag :photo_1_memo,'',:cols=>40%>
                </p>

				<div id="more_assets"></div>

				</p>
					<%=link_to "上传更多", "#", :onclick=>"gen_asset(99);return false;",:style=>"color:red;"%>
				</p>
                <p style="margin-left:300px;"><%=f.submit "保存"%></p>
            </div>
            <%end%>
        </div>
    </div>
</div>

<div class="clear"></div>

<script type="text/javascript" charset="utf-8">
	var asset_count = 1;
	function gen_asset(){
		asset_count++;	
		str = '<p class="section"></p>'
		str += '<p><label for="photo_'+asset_count+'">上传图片</label><input type="file" size="30" name="photo_'+asset_count+'[photo]" id="photo_'+asset_count+'_photo"></p>'
		str += '<p><label for="photo_'+asset_count+'_name">图片名称</label><input type="text" value="" size="40" name="photo_'+asset_count+'_name" id="photo_'+asset_count+'_name"></p>'
		str += '<p><label for="photo_'+asset_count+'_weight">图片权重</label><input type="text" value="" size="40" name="photo_'+asset_count+'_weight" id="photo_'+asset_count+'_weight"></p>'
		str += '<p><label for="photo_'+asset_count+'_memo">图片简介</label><textarea name="photo_'+asset_count+'_memo" id="photo_'+asset_count+'_memo" cols="40"></textarea></p>'
		$("#asset_count").val(asset_count);
	    $("#more_assets").append(str);
    }
</script>