<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">
            <% form_for @album do |f| -%>
            <%=f.error_messages%>
            <div class="FormWrap model_form">
                <h3 class="orange"><a href="/albums">相册</a> - <%=@album.title%> - 管理</h3>
                <p>
                    <%=f.label :title,"相册名<em>*</em>"%>
                    <%=f.text_field :title,:size=>40%>
                </p>

				<p>
                    <%=f.label :weight,"相册权重"%>
                    <%=f.text_field :weight,:size=>40%>
                </p>

                <p>
                    <%=f.label :memo,"简介："%>
                    <%=f.text_area :memo,:rows=>5%>
                </p>

                <p style="margin-left:300px;" class="orange">
					<%=f.submit "保存"%>
					<%= link_to "删除", album_url(@album), :method => :delete, :confirm => "点击后此相册下的图片将会一并删除，如要保留请先转移图片，您确认要删除这个相册吗?"%>
				</p>
            </div>
            <%end%>

			<br/>
			
			<% form_for @album, :url => assets_batch_album_path,:html=>{:name=>"batch"} do |f| -%>
			<%=hidden_field_tag "batch_type"%>
			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="memberlist blueth">
			    <tbody>
			        <tr>
						<th width="20"><input type="checkbox" id="check_all"></th>
						<th width="120">图片</th>
			            <th>图片名称</th>
			            <th width="80">图片权重</th>
						<th>封面图片</th>
						<th>图片简介</th>
			            <th width="120"></th>
			        </tr>
			    </tbody>
			    <tbody>
			        <%@assets.each do |asset|%>
			        <tr>
						<td><input type="checkbox" value="<%=asset.id%>" name="check_ids[]"></td>
						<td><a title="<%=asset.memo%>" href="<%=asset.photo.url%>" class="thickbox"><img src="<%=asset.photo.url(:thumb)%>"></a></td>
			            <td><%=asset.name%></td>
			            <td><%=asset.weight%></td>
						<td><%=asset.show_photo_type%></td>
			            <td><%=asset.memo%></td>
			            <td>
						<%= link_to "设为封面", to_primary_asset_url(asset), :method => :put, :confirm => "确认要把此图片设为封面吗?"%>
			            <%= link_to "修改", edit_asset_url(asset)%>
			            <%= link_to "删除", asset_url(asset), :method => :delete, :confirm => "确认要删除这张图片吗?"%>
			            </td>
			        </tr>
			        <%end%>
			    </tbody>
			</table>
			<br/>
			<p>
				<%= select_tag :album, options_for_select(Album.all(:conditions=>["id !=#{@album.id}"]).collect{|p| [p.title, p.id]})%>
				<%=button_to_function "批量转移","transfer()"%>
				<%=button_to_function "批量删除","destroy()"%>
			</p>
			<%end%>
        </div>
    </div>
</div>

<%=will_paginate @assets%>

<div class="clear"></div>

<script type="text/javascript" charset="utf-8">
	$(function(){
		$("#check_all").click(function(){
			if($("#check_all").attr("checked")==true){
				$("input[name='check_ids[]']").each(function(){
					$(this).attr("checked", true);
				});
			}else{
				$("input[name='check_ids[]']").each(function(){
					$(this).attr("checked", false);
				});
			}
		});
	});
	
	function transfer(){
		if(!confirm('你确定要进行批量转移吗?')){
			return false;
		}else{
			$("#batch_type").attr("value",1)
			document.batch.submit();
			return true;
		}
	}
	
	function destroy(){
		if(!confirm('你确定要进行批量删除吗?')){
			return false;
		}else{
			$("#batch_type").attr("value",2)
			document.batch.submit();
			return true;
		}
	}
</script>