<%if current_user && current_user.has_role?("admin")%>
	<div style="margin: auto; width: 950px;">
	    <%=render :partial=>"shared/sidebar"%>

	    <div class="MemberMain">
			<h2 style="padding:10px;">所有相册</h2>
	        <div style="padding:10px;">
				<table width="100%" cellspacing="0" cellpadding="0" class="album_list">
					<tbody>
						<tr>
							<%@albums.values_at(0..3).each do |album|%>
								<%=render :partial=>"album",:object=>album%>
							<%end%>
						</tr>

						<tr>
							<%@albums.values_at(4..7).each do |album|%>
								<%=render :partial=>"album",:object=>album%>
							<%end%>
						</tr>

						<tr>
							<%@albums.values_at(8..11).each do |album|%>
								<%=render :partial=>"album",:object=>album%>
							<%end%>
						</tr>
					</tbody>
				</table>
	        </div>
	    </div>
	</div>

	<%=will_paginate @albums%>

	<div class="clear"></div>
<%else%>
	<h2 style="padding-top:30px;padding-left:50px;">所有相册</h2>
    <div style="padding-top:10px;padding-left:50px;margin:50px;">
		<table width="100%" cellspacing="0" cellpadding="0" class="album_list">
			<tbody>
				<tr>
					<%@albums.values_at(0..3).each do |album|%>
						<%=render :partial=>"album",:object=>album%>
					<%end%>
				</tr>

				<tr>
					<%@albums.values_at(4..7).each do |album|%>
						<%=render :partial=>"album",:object=>album%>
					<%end%>
				</tr>

				<tr>
					<%@albums.values_at(8..11).each do |album|%>
						<%=render :partial=>"album",:object=>album%>
					<%end%>
				</tr>
			</tbody>
		</table>
    </div>

	<%=will_paginate @albums%>
<%end%>
