<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">
            <% form_for @category do |f| -%>
            <%=f.error_messages%>
            <div class="FormWrap model_form">
                <h3>添加分类</h3>
                <p>
                    <%=f.label :name,"分类名<em>*</em>"%>
                    <%=f.text_field :name%>
                </p>
                <p>
                    <%=f.label :parent_id,"上级分类"%>
                    <%=f.select :parent_id,Category.all.collect{|p| [p.name, p.id]},{:include_blank => "无"}%>
                </p>
                <p>
                    <%=f.label :memo,"备注："%>
                    <%=f.text_area :memo,:rows=>5%>
                </p>
                <p style="text-align:center;"><%=f.submit "保存"%></p>
            </div>
            <%end%>
        </div>
    </div>
</div>

<div class="clear"></div>