<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>星尚画报</title>
<link href="/stylesheets/imgareaselect-default.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery-1.4a2.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery.imgareaselect.pack.js" type="text/javascript"></script>
</head>
<body>
    <script type="text/javascript">
    function preview(img, selection) {
        if (!selection.width || !selection.height)
            return;

        var scaleX = <%=@preview_width%> / selection.width;
        var scaleY = <%=@preview_height%> / selection.height;

        $('#preview img').css({
            width: Math.round(scaleX * <%=@panel_content.uploaded_data_width%>),
            height: Math.round(scaleY * <%=@panel_content.uploaded_data_height%>),
            marginLeft: -Math.round(scaleX * selection.x1),
            marginTop: -Math.round(scaleY * selection.y1)
        });

        $('#x1').val(selection.x1);
        $('#y1').val(selection.y1);
        $('#x2').val(selection.x2);
        $('#y2').val(selection.y2);
        $('#w').val(selection.width);
        $('#h').val(selection.height);
    }

    $(function () {
        $('#photo').imgAreaSelect({ aspectRatio: '<%=@panel_category.width%>:<%=@panel_category.height%>', handles: true,
            fadeSpeed: 200, onSelectChange: preview });
    });
    </script>

    <style type="text/css" media="screen">
        body {
            font-family: Arial,sans-serif;
            font-size: 14px;
        }
        .container:after {
          content: ".";
          display: block;
          overflow: hidden;
          clear: both;
          visibility: hidden;
        }
        .main {
            background: #eef;
            border: solid 2px #dde;
            padding: 0.6em;
            height: 100%;
        }
        .main p {
            padding: 0.3em 0.6em;
            margin: 0.3em auto;
        }
        .main p.instructions {
            font-family: serif;
            font-style: italic;
            xfont-size: 90%;
            color: #666;
            line-height: 130%;
        }
        .main table td {
            xwidth: 6.5em;
        }
        .main table td {
            padding-left: 1em;
        }
        .main table td input {
            width: 4em;
            text-align: right;
        }
        p.major {
            color: #777;
            font-size: 125%;
            font-weight: bold;
        }
        p.major a, p.major a:visited {
            color: #2073d1;
        }
        div.frame {
            background: #fff;
            padding: 0.8em;
            border: solid 2px #ddd;
        }
    </style>

    <% form_for @panel_content,:url => "/panel_contents/#{@panel_content.id}/crop",:html=>{:method=>:put} do |f| %>
    <div class="container main">
        <div style="float: left;">
            <p class="instructions">
                点击并且拖曳来选择区域.
            </p>

            <div style="height: <%=@panel_content.uploaded_data_height%>px; margin: 0pt 0.3em; width: <%=@panel_content.uploaded_data_width%>px;" class="frame">
                <img src="<%=@panel_content.uploaded_data.url%>" id="photo">
            </div>
        </div>

        <div style="float: left; padding-left:10em;">
            <p style="font-size: 110%; font-weight: bold; padding-left: 0.1em;">
                裁剪图预览
            </p>

            <div style="margin: 0pt 1em; width: <%=@preview_width%>px; height: <%=@preview_height%>px;" class="frame">
                <div style="width: <%=@preview_width%>px; height: <%=@preview_height%>px; overflow: hidden;" id="preview">
                    <img style="width: <%=@preview_width%>px; height: <%=@preview_height%>px;" src="<%=@panel_content.uploaded_data.url%>">
                </div>
            </div>


            <table style="margin-top: 1em;">
                <thead>
                    <tr>
                        <th style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;" colspan="2">
                            坐标
                        </th>
                        <th style="font-size: 110%; font-weight: bold; text-align: left; padding-left: 0.1em;" colspan="2">
                            高和宽
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 10%;"><b>X<sub>1</sub>:</b></td>
                        <td style="width: 30%;"><input type="text" value="-" id="x1" name="x1"></td>
                        <td style="width: 20%;"><b>宽:</b></td>
                        <td><input type="text" id="w" value="-" name="w"></td>
                    </tr>
                    <tr>
                        <td><b>Y<sub>1</sub>:</b></td>
                        <td><input type="text" value="-" id="y1" name="y1"></td>
                        <td><b>高:</b></td>
                        <td><input type="text" value="-" id="h" name="h"></td>
                    </tr>
                    <tr>
                        <td><b>X<sub>2</sub>:</b></td>
                        <td><input type="text" value="-" id="x2" name="x2"></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><b>Y<sub>2</sub>:</b></td>
                        <td><input type="text" value="-" id="y2" name="y2"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <%=f.submit "裁剪",:confirm => "确认要进行裁剪吗？"%> | <a href="/panel_contents/<%=@panel_content.id%>/edit">返回</a>
        </div>
    </div>
    <%end%>
</body>
</html>