<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">
            <% form_for @panel_content, :html=>{:multipart => true} do |f| -%>
            <%=f.error_messages%>
            <div class="FormWrap model_form">
                <h3>添加内容</h3>
                <p>
                    <%=f.label :title,"标题<em>*</em>"%>
                    <%=f.text_field :title,:size=>40%>
                </p>
                <p>
                    <%=f.label :panel_category_id ,"分类<em>*</em>"%>
                    <%= f.select :panel_category_id, PanelCategory.all.collect{|p| [p.name, p.id]}%>
                </p>
                <p>
                    <%=f.label :link,"链接地址"%>
                    <%=f.text_field :link,:size=>40%>
                </p>
                <p>
                    <%=f.label :target_type,"打开方式"%>
                    <%=f.select :target_type,[["默认方式",0],["新窗口",1]]%>
                </p>

                <%pc1=PanelCategory.find_by_name("最新鉴赏")%>
                <%if !pc1.nil?%>
                    <%if @panel_content.panel_category.name =="最新鉴赏图片"%>
                        <p>
                            <%=f.label :parent_id,"鉴赏期数"%>
                            <%=f.select :parent_id, pc1.panel_contents.collect{|p| [p.title, p.id]}%>
                        </p>
                    <%end%>
                <%end%>

                <p>
                    <%=f.label :is_published ,"是否发布"%>
                    <%= f.check_box :is_published %>
                </p>
                <p>
                    <%=f.label :weight,"权重"%>
                    <%=f.text_field :weight,:size=>40%>
                </p>
                <p>
                    <%=f.label :uploaded_data,"上传图片"%>
                    <%=f.file_field :uploaded_data%>
                </p>
                <p>

                    <%if @panel_content.uploaded_data.url.blank?%>
                    <label>已传图片</label>
                        暂未上传
                    <%else%>
                    <label>已传图片 (点击裁剪)</label>
                        <a href="/panel_contents/<%=@panel_content.id%>/croper"><%=image_tag (@panel_content.uploaded_data.url),:width=>"#{@panel_content.uploaded_data_width > 500 ? 500 : @panel_content.uploaded_data_width}"%></a>
                    <%end%>
                </p>
                <p>
                    <%=f.label :description,"简介："%>
                    <%=f.text_area :description,:rows=>5%>
                </p>
                <p style="margin-left:300px;"><%=f.submit "保存"%></p>
            </div>
            <%end%>
        </div>
    </div>
</div>

<div class="clear"></div>