<div style="margin: auto; width: 950px;">
    <%=render :partial=>"shared/sidebar"%>

    <div class="MemberMain">
        <div style="padding:10px;">

            <a href="/panel_contents/new?pcid=<%=params[:pcid]%>" style="color:#FE6C00;text-decoration:none;">新添内容</a>

            <table cellspacing="0" cellpadding="0" border="0" width="100%" class="memberlist blueth">
                <tbody>
                    <tr>
                        <th width=60>发布状态</th>
                        <th width=120>标题</th>
                        <th width=60>分类</th>
                        <th width=120>链接</th>
                        <%pc=PanelCategory.find_by_name("最新鉴赏图片")%>
                        <%if pc.id == params[:pcid].to_i%>
                            <th width=60>鉴赏期数</th>
                        <%end%>
                        <th width=60>排序权重</th>
                        <th width=80></th>
                    </tr>
                </tbody>
                <tbody>
                    <%@panel_contents.each do |panel_content|%>
                    <tr>
                        <td><%=panel_content.show_status%></td>
                        <td><%=panel_content.title%></td>
                        <td><%=panel_content.panel_category.nil? ? "" : panel_content.panel_category.name%></td>
                        <td><%=panel_content.link%></td>
                        <%if pc.id == params[:pcid].to_i%>
                            <td><%=panel_content.parent.nil? ? "无" : panel_content.parent.title%></td>
                        <%end%>
                        <td><%=panel_content.weight%></td>
                        <td>
                        <%= link_to "修改", edit_panel_content_url(panel_content)%>
                        <%= link_to "删除", panel_content_url(panel_content), :method => :delete, :confirm => "确认要删除这个内容吗?"%>
                        </td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="clear"></div>

<%=will_paginate @panel_contents%>