
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <r:meta:language />  -->
	<title><%= t(:site_name) %></title>

	<%= include_stylesheets 'base' %>
	<%= include_javascripts 'base' %>
	
	<%= yield :header %>

</head>
<body id="bggray" >
	<div id="idea">
		<div class="sides"><img src="/images/2j01.blue.png" /></div>
		<div class="idea">

			<%= render :partial => "shared/search_box" %>
			<%= render :partial => "shared/nav" %>

			<div class="picture"><img src="/images/about-us-1.jpg" /></div>
			<div class="content2j">
				<div class="left">
					<span><img src="/images/2j04.jpg" /></span>
					<span class="leftnav">
						<div class="leftnav01">About us</div>

						<%= render :partial => "shared/side_nav" %>

					</span>
					<span><img src="/images/2j04.jpg" /></span>
				</div>
				<div class="right">

					<%= yield :content %>

				</div>
				<div class="blank0"></div>
			</div>

			<%= render :partial => "shared/footer" %>
			
		</div>
		<div class="sides"><img src="/images/2j02.blue.png" /></div>
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24808784-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
