<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <r:meta:language />  -->
	<title><%= t(:site_name) %></title>

	<%= include_stylesheets "base" %>
	<%= include_javascripts "base" %>
	
	<%= yield :header %>
	<style type="text/css" media="screen">
		.footernav a {color:#FFF; font-weight:bold;}
		.copyright {color:#FFF;}
	</style>
</head>

<body id="bg">
	<div id="idea">
		<div class="sides"><img style="margin-top:65px;" src="/images/idea01.blue.png" /></div>
		<div class="idea">

			<%= render :partial => "shared/search_box" %>

			<%= render :partial => "shared/nav" %>

			<div class="flash" id="hero">
				<script type="text/javascript" src="/javascripts/swfobject.js"></script> 
				<script type="text/javascript">
				var so = new SWFObject("/swf/flash1.swf", "gallery", "944", "286", "6", "#ffffff");
				so.addParam("quality", "high");
				so.addParam("wmode", "transparent");
				so.write("hero");
				</script>
			</div>
			
			<div class="content">

				<%=render :partial=>"home/products"%>

				<%=render :partial=>"home/news"%>

				<div class="blank0"></div>

			</div>
			<div><img src="/images/contentbg.gif"></div>
			
			<%= render :partial => "shared/footer" %>

		</div>
		<div class="sides"><img style="margin-top:65px;" src="/images/idea02.blue.png" /></div>
	</div>
	
	<%= render :partial => "shared/ga" %>
</body>
</html>