
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <r:meta:language />  -->
	<title><%= t(:site_name) %></title>

	<%= include_stylesheets 'base' %>
	<%= include_javascripts 'base' %>
	
	<%= yield :header %>

</head>

<body id="bg">
	<div id="idea">
		<div class="sides"><img style="margin-top:65px;" src="/images/idea01.blue.png" /></div>
		<div class="idea">

			<%= render :partial => "shared/search_box" %>

			<%= render :partial => "shared/nav" %>

			<%= yield %>

		</div>
		<div class="sides"><img style="margin-top:65px;" src="/images/idea02.blue.png" /></div>
	</div>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-24808784-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
